.alert{
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 30%;
}
.dark-mode {
    background: #343a40;
}
.dark-mode a , .dark-mode div table td  , .dark-mode div table th , .dark-mode label{
    color:white;
    border-color: #343a40;
}
.dark-mode nav , .dark-mode div , .dark-mode div table td , .dark-mode div table th , .dark-mode input {
    background-color: #212529 !important;
}

.dark-mode div table tr{
     border:none; 
}
.dark-mode input,.dark-mode h1,.dark-mode p {
    border-color: #343a40;
    color: white !important;
}
.dark-mode input::placeholder {
    color:dimgrey;
}
.bi-moon{
    color:white;
}
.dark-mode i{
    color:#fff;
}
.search{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.search input{
    display: table;
    margin: 0 auto;
    margin-top: 15%;
    width: 50%;
}

.search i{
    font-size: 40px;
    position: fixed;
    top: 3%;
    left: 4%;
    cursor: pointer;
}
#searchResult {
    display: table;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

@media only screen and (max-width: 480px) {
    .navbar{
        position: relative;
    }
    #LoginRegister {
      display: none;
    }
    .btn {
        font-size: 10px;
    }
    i.bi.bi-search {
        position: absolute;
        left: 28%;
        top: 33%;
    }
    i#darkModeButton {
        position: absolute;
        left: 40%;
        top: 33%;
    }
    .col-auto , .col-auto button{
        width:100%;
    }
  }